@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
/* body{ */
body{
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px ; 
}
h1{
    font-weight: 200;
    margin: 0;
}
a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
    cursor: pointer;

}
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
span{
    font-size: 12px;
}

/* photo-grid styling{ */
.row {
    display: flex;
    flex-wrap: wrap;
} 
.passimg{
        width: 40px;
        height: 40px;
        margin: 0;
        padding: 0;
}
.passimg.active{
    box-sizing: border-box;
    border:2px solid blue;
}
.clicked{
    box-sizing: border-box;
    border: 2px solid #4060fb;
    width: 40px;
    height: 40px;
}
/* }end of photo-grid styling */

/* button styling */
button{
    border-radius: 20px;
    border: 1px solid #2b3dff;
    background: #2b3dff;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;  
    cursor: pointer;  
}
button:active {
    transform: scale(0.95);
    background: #515ffc;
}

button.ghost{
    background: transparent;
    border-color: #fff;;
}
/* end of button styling */
/* }end of body */
/* .password{
    background-color: #eee;
    border: none;
	padding: 15px;
	margin: 8px 0;
	width: 100%;
    border-radius: 10px;

} */
input{
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    border-radius: 10px;
}
.container{
    background: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.form-container form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.social-container{
    margin: 20px 0;
}
.social-container a{
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
.form-container input{
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0px;
    width: 100%;
}


.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container{
    left: 0;
    width: 50%;
    z-index: 2;
}
.sign-up-container{
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.overlay{
    background-color: #6a41ff;
    background: linear-gradient(to right, #241266, #4088db)
     no-repeat 0 0 / cover;
     color: #fff;
     position: relative;
     left: -100%;
     height: 100%;
     width: 200%;
     transform: translateX(0);
     transition: transform 0.6s ease-in-out;
}

.overlay-panel{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right{
    right: 0;
    transform: translateX(0);
}
/* Animation */
.container.right-panel-active .sign-up-container{
    opacity: 1;
    z-index: 5;
}
@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

/* Move overlay back to right */
.container.right-panel-active .overlay{
    transform: translateX(50%);
}

#signupbtn{
    margin-top: 15px;
}